nav {
    background-color: black;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20px;
}

nav ul {
    list-style-type: none;
    /* padding: 0; */
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

h1 {
    color: #f8f3f3;
    font-weight: bold;
}

img {
    height: 700px;
    width: 2000px;
}
/* HERO SECTION */
.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* Image */
.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Dark overlay */
.hero::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
}

/* Text container */
.hero-content {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    color: white;
    /* max-width: 500px; */
    z-index: 2;
}

/* Heading */
.hero-content h1 {
    font-size: 60px;
    font-weight: 800;
    line-height: 1.1;
    margin-bottom: 20px;
}

/* Paragraph */
.hero-content p {
    font-size: 16px;
    margin-bottom: 25px;
    line-height: 1.6;
    
}

/* Button */
.btn {
    padding: 12px 25px;
    background-color: teal;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: darkcyan;
}
.hero { 
    position: relative;
 } 
 #icon{ 
    position: absolute;
     top: 50%; 
     left: 20px; 
     transform: translateY(-50%);
      display: flex; 
      flex-direction: column;
       gap: 25px;
        color: white; 
        font-size: 22px;
         z-index: 2;
         } 
.pbox{ 
    background: rgba(0, 0, 0, 0.5);
     padding: 20px;
      border-radius: 8px;
       margin-bottom: 40px;
       
}
#p1{
    max-width: 500px;
}
.team-section h2 {
    font-size: 35px;
    margin-bottom: 20px;
}
.team-members {
    display: flex;
    gap: 30px;
}

.card {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 8px;
    min-width: 200px;
}
.card span {
    display: block;
    margin-top: 10px;
    background: royalblue;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}
/* Contact Form Container */
.contact-form {
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translateY(-50%);
    width: 350px;
    z-index: 2;
}

/* Glass effect */
.contact-form form {
    background: rgba(255, 255, 255, 0.08);
    padding: 25px;
    border-radius: 10px;
    backdrop-filter: blur(8px);
    display: flex;
    flex-direction: column;
}

/* Labels */
.contact-form label {
    color: white;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 14px;
}

/* Inputs */
.contact-form input,
.contact-form textarea {
    background: transparent;
    padding: 10px;
    border:1px solid white;
    border-radius: 5px;
    margin-bottom: 10px;
    outline: none;
    color: black;
}

/* Submit button */
.contact-form button {
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: teal;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.contact-form button:hover {
    background: darkcyan;
}
.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: black;
}